*{
    box-sizing: border-box
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tenzies-box{
    display: flex;
    width: 405px;
    height: 512px;
    padding: 30px 20px 29px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0B2434;
}
 main {
    display: flex;
    width: 370px;
    height: 438px;
    padding: 33.28px 34.56px 33.92px 34.56px;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 20px;
    flex-direction: column;

 }
 .top-level{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: flex-start;
 }
 .top-level > img {
   width: 10%;
   margin-right: 75px;
   cursor: pointer;
 }
 .top-level >img:hover {
   opacity: 0.8;
 }
 .top-level > img:active {
   opacity: 0.5;
 }
 .title{
   color: #2B283A;
   font-size: 25.60px;
   font-family: Karla;
   font-weight: 700;
   word-wrap: break-word;
   margin: 0;
 }
 .description {
   color: #4A4E74;
   font-size: 13.11px;
   font-family: Inter , Arial;
   font-weight: 400;
   word-wrap: break-word;
   text-align: center;
   width: 245px;
   margin: 0;
}
 .grouped-dice{
    display: grid;
    grid-template: auto auto/repeat(5,1fr);
    gap: 17.92px;
    margin-bottom: 10px;
 }
 
 
 .dice-num{
    color: #2B283A;
    font-family: Karla , Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    cursor: pointer;
 }

 .roll-dice{
    background-color: #5035FF;
    padding: 8.76px 30.12px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s;

 }

 .button-text {
    color: white;
    font-size: 16.38px;
    font-family: Karla , Arial;
    font-weight: 700;
    word-wrap: break-word;
 }
 .roll-dice:hover{
    opacity: 0.8;
 }
 .roll-dice:focus{
    outline: none;
 }
 .roll-dice:active{
    box-shadow: inset 0px 0px 17px 7px #00000096;
 }
 .winning{
   color: lightgreen;
   font-size: 16.38px;
   font-family: Karla , Arial;
   font-weight: 700;
   word-wrap: break-word;
   margin: 0px 8px 8px 8px;
 }
 .button-and-count {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .text {
   color: black;
   font-size: 16.38px;
   font-family: Karla , Arial;
   font-weight: 700;
   word-wrap: break-word;
   margin: 0;
   margin-bottom: 3px;
 }

 .rolls {
   margin-top: 10px;
 }
 

.best-time{
   margin-top: 6px;
}

.player{
   padding: 20px;
   margin: 30px;
   background-color: #5035FF;
   border-radius: 5px;
   border: none;
   cursor: pointer;
   transition: opacity 0.2s;
}
.player:hover{
   opacity: 0.8;
}
.player:active{
   opacity: 0.5;
}
.bu-text{
   color: white;
   font-size: 16.38px;
   font-family: Karla , Arial;
   font-weight: 700;
   word-wrap: break-word;
}

.title{
   text-align: center;
   font-size: 30.38px;
   font-family: Karla , Arial;
   font-weight: 700;
}
.grouped {
   display: flex;
   flex-direction: column;
}
.button-group {
   display: flex;
}

@media (max-width: 350px) {
   .button-group {
      display: flex;
      flex-direction: column;
   }
   #root {
      overflow-x: scroll;
      
   }
   #root::-webkit-scrollbar{
      overflow: hidden;
   }
   .grouped-dice {
      display: grid;
      grid-template: auto auto/repeat(2,1fr);
      gap: 17.92px;
      margin-bottom: 10px;
   }
   .tenzies-box {
      width: 344px;
      height: 650px;
   }
   main {
      width: 305px;
      height: 580px;
   }
   .top-level > img {
      margin-right: 62px;
  }
}
.gruped-player{
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.player-text{
   margin: 0;
   margin-bottom: 0px;
   font-size: 16.38px;
   font-family: Karla , Arial;
   font-weight: 700;
   word-wrap: break-word;
}
.player-box {
   background-color: white;
   padding: 10px;
   border-radius: 10px 10px 0px 0px;
}

.shadow{
   box-shadow: inset 0px 0px 0px 20px #00000069;
}
.grouped-time{
   display: flex;
   width: 100%;
   justify-content: space-around;
}
.time-text {
   margin-top: 10px;
}
.dice-div {
   box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.45);
   border-radius: 5px;
   cursor: pointer;
}
.face {
	display: grid;
	grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

	flex: 0 0 auto;
	padding: 5px;
	width: 50px;
	height: 50px;
}

.pip {
	display: block;
	align-self: center;
	justify-self: center;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #333;
	box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
	grid-area: b;
}
.pip:nth-child(3) {
	grid-area: c;
}
.pip:nth-child(4) {
	grid-area: d;
}
.pip:nth-child(5) {
	grid-area: e;
}
.pip:nth-child(6) {
	grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
	grid-area: g;
}
